<ul>
<% @posts.each do |post| %>
  <li><div class="post_wrapper">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %>.</p>
    <%= form_for(post, method: "delete", remote: true) do |f| %>
    <%= f.submit "Delete Post" %>
    <% end %>
  </div></li>
<% end %>
</ul>